@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>Welcome to the SCC Marina</h3>

<p>We provide services for all of your staying needs. Dock a boat with us and expect all of your amenities to be met such as water and electricity.</p>
<p> We even have on sight maintenance incase you are having any issues with your boat, as well as security to ensure your boat is safe!</p>
