@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>Reach out to us at the links provided below if you have any questions or concerns</h3>

<address>
    One Water Way Bay<br />
    Whitewater, MN 98052<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Management:</strong>   <a href="mailto:MarinaManagement@sccmarina.com">MarinaManagement@sccmarina.com</a><br />
    <strong>Maintenance:</strong> <a href="mailto:MarinaMaintenance@sccmarina.com">MarinaMaintenance@sccmarina.com</a><br />
    <strong>Security:</strong> <a href="mailto:MarinaSecurity@sccmarina.com">MarinaSecurity@sccmarina.com</a>
</address>