
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<asp:Login runat="server">
    <label for="username">User Name:</label>
    <input id="username" type="text" />
    <label for="password">Password:</label>
    <input id="Password1" type="password" />
</asp:Login>
