
@{
    Layout = null;
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>BoatHome</title>
</head>
<body>
    <div>
        @{
            Html.RenderPartial("BoatList");
        }
    </div>
</body>
